$navbar-height: 50px;
$navbar-width: 90%;
$navbar-border-radius: 20px;
$navbar-border-width: 3px;
$navbar-border-color: rgba(255, 255, 255, 0.125);
$navbar-background-color: rgba(139, 146, 159, 0.35);


.navbar{
    backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: $navbar-border-color;
	border: 3px solid $navbar-background-color;
    border-radius: 20px;
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 2;
    margin-top: 5dvh;

    .search_containter{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        backdrop-filter: blur(14px) saturate(152%);
        -webkit-backdrop-filter: blur(14px) saturate(152%);
        background-color: rgba(139, 146, 159, 0.35);
        border: 3px solid rgba(255, 255, 255, 0.125);
        width: 200px;
        border-radius: 50px;

        button{
            background-color: rgba(240, 255, 255, 0);
            border: none;
            outline: none;
            font-size: 1.2rem;
            transition: border-color 0.25s;
            padding: 5px;
            border-radius: 50px;
            transition: .5s;
            width: 100px;
        }
        
        button:hover{
            background-color: rgba(240, 248, 255, 0.219);
        }

        input{
            background-color: rgba(240, 255, 255, 0);
            border: none;
            outline: none;
            font-size: 1.2rem;
            transition: border-color 0.25s;
            width: 152px;
        }
    }


}

.navbar_button {
	backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
	border-radius: 20px;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 50px;
	width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: 0.5s;
        top: -10%;
    }
}


.logo{
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.button_row{

    display: flex;
    gap: 5px;
    height: 50px;
}



.dropdown_menu {
	position: relative;
	backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
    
    
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
	border-radius: 20px;
	color: white;
	z-index: 1;
    transform: translateY(5.5dvh);
	/* opacity: 0; */
	/* animation: dropdown 0.5s ease-in-out forwards; */

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        width: 85px;
        // backdrop-filter: blur(14px) saturate(152%);
        // -webkit-backdrop-filter: blur(14px) saturate(152%);
        /* background-color: rgba(139, 146, 159, 0.35); */
        /* border: 3px solid rgba(255, 255, 255, 0.125); */
        border-radius: 16px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        list-style: none;
        transition: 0.2s;
        opacity: 0;
        transform: translateY(6px);
        animation: dropdownItem 0.3s ease-in-out forwards;
        animation-delay: calc(0.5s * var(--item-index));
    }

    li:hover {
        background-color: rgba(139, 146, 159, 0.5);
        cursor: pointer;
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateY(-1dvh);
        -webkit-transform: translateY(-1dvh);
    }
    to {
        opacity: 1;
        transform: translateY(5dvh);
        -webkit-transform: translateY(15dvh);
        -moz-transform: translateY(15dvh);
        -ms-transform: translateY(15dvh);
        -o-transform: translateY(15dvh);
    }
}




@keyframes dropdownItem {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

