.navbar{
    backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
    border-radius: 20px;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 1;
}

.navbar input{
    backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.25s;
}



.logo{
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.button_row{

    display: flex;
    gap: 5px;
}

.navbar_button {
	backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
	border-radius: 20px;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	width: 130px;
}

.dropdown_menu {
    position: relative;
    top: 20vh;
    backdrop-filter: blur(14px) saturate(152%);
	-webkit-backdrop-filter: blur(14px) saturate(152%);
	background-color: rgba(139, 146, 159, 0.35);
	border: 3px solid rgba(255, 255, 255, 0.125);
	border-radius: 20px;
    color: white;
    z-index: 2;
}

.dropdown_menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown_menu li {
    backdrop-filter: blur(14px) saturate(152%);
    -webkit-backdrop-filter: blur(14px) saturate(152%);
    /* background-color: rgba(139, 146, 159, 0.35); */
    /* border: 3px solid rgba(255, 255, 255, 0.125); */
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
    transition: 0.2s;
}

.dropdown_menu li:hover {
    background-color: rgba(139, 146, 159, 0.5);
    cursor: pointer;
}


